body {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-image: url('../images/active_door.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.biz-udpmincho-regular {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}

.game_over {
    background-image: url('../images/game_over.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.game_over h1 {
        font-family: "MS Serif";
        font-size: 150px;
        color: #ffd700;
        margin-top: 150px;
        text-align: center;
        text-shadow: 5px 5px 5px #2a0157;
        background-position: center 10px;
        line-height: 1.5em;
}



.clear {
    background-image: url('../images/clear.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.clear h1 {
    color: #ffd700;
    font-size: 110px;
    /*130からホームボタン設置のため調整しました（山口） */
    text-align: center;
    text-shadow:
        3px 0px 1px rgb(248, 244, 238),
        0 0 5em rgb(65, 65, 2),
        0 0 0.5em rgb(233, 192, 58);
}

.clear p {
    color: #ffd700; 
    font-size: 35px; 
    text-align: center;
    text-shadow: 
        3px 0px 1px rgb(51, 38, 2),
        0 0 5em rgb(226, 112, 18),
        0 0 0.5em rgb(233, 192, 58);
    line-height: 1.5em; 
    background-color: #2a0157c2; 
    max-width: 800px;
    max-height: 200px;
    margin: auto;
}

.top {
    background-image: url('../images/top.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}


.top h1 {
    font-size: 85px;
    margin: 50px 130px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

/* top */

.button-container {
    position: relative;
    text-align: center;
    margin-top: 20vh;
    margin-top: 120px;
    margin-bottom: 90px;
}

.rule {
        color: #f6c422;
        font-size: 40px;
        margin-top: 95px;
        padding-top: 20px;
}

.ruleText {
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 800;
    line-height: 2;
    text-shadow:
        3px 0px 1px rgb(70, 57, 3),
        0 0 5em rgb(160, 127, 17),
        0 0 0.5em rgb(233, 192, 58);
    border-radius: 10px;
}
.key-icon{
    width: 30px;
}

#remainingKeys {
    color: white;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 800;
    text-shadow: 3px 0px 1px rgb(70, 57, 3), 0 0 5em rgb(160, 127, 17), 0 0 0.5em rgb(233, 192, 58);
}


#quiz-container {
    margin: 8px auto;
    max-width: 100vh;
    max-height: 100vh;
    background-size: cover;
    background-image: url(../images/ant2.png);
    background-repeat: no-repeat;
    text-align: center;
}

/* question */
#question {
    padding: 4vh;
    color: white;
    font-size: 23px;
    word-break: break-word;
    line-height: 1.5;
    letter-spacing: 0.1em;
}


#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
}

#choices button {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 600;
    flex: 1;
    margin: 25px 30px;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #200356d1;
    color: #f3d737;
    border: 2px solid #e6bd28;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover,
#choices button:hover {
    background-color: rgba(99, 66, 4, 0.91);
    color: white;
    transform: scale(1.1);
    border: 2px solid white;
}

    .button {
        font-family: "BIZ UDPMincho", serif;
        font-weight: 500;
        padding: 15px 20px;
        font-size: 22px;
        background-color: #36089af3;
        color: rgba(250, 214, 12, 0.934);
        border: 3px solid #d8ce0f;
        border-radius: 15px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }


/* モーダルウィンドウ用のスタイル */
#modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 1300px;
    z-index: 1300;
    justify-content: center;
    align-items: center;
}

#modal-close-btn {
    margin-top: 10%;
    background-color: #2a0157;
    color: #ffd700;
    border: 2px solid #ffd700;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;  
}

#modal-text {
    font-family: "Kosugi", sans-serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: 200;
    line-height: 2;
    -webkit-text-stroke: 1px #000;
}

.modal-content {
    width: 70%;
    height: 80%;
    max-width: 650px;
    max-height: 300px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(233, 198, 143, 0.944);
}

#modal-explanation {
    font-weight: 600;
    font-size: 28px;
    color: black;
    text-shadow: none;
    line-height: normal;
    margin: 10px 0;
    /* text-align:justify */
}

.mask {
    background-color: rgba(0, 0, 0, 0.378);
    max-width: 1000px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#collectCounter{
    color: rgb(238 233 226);
    font-size: 20px;
    font-weight: 800;
    text-shadow: 3px 0px 1px rgb(70, 57, 3), 0 0 5em rgb(51, 38, 2), 0 0 0.5em #000;
}